* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

::-webkit-scrollbar {
    display: none;
}

:focus {
    outline: none;
}

body {
    font-family: 'Roboto', 'PT Sans', sans-serif;
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    font-size: 14px;
    height: 100vh;
    background-color: #e6e6e6;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px whitesmoke inset;
}


input[type="text"],
input[type="password"] {
    font-size: 24px;
    width: 100%;
    height: 40px;
    padding: 3px 6px;
    border: 1px solid #ddd;
    color: #32373c;
    border-radius: 5px;
    margin: 10px 0;
}

input[type="text"]:hover,
input[type="password"]:hover {
    border-color: black;
}


.log {
    display: block;
    width: 100%;
    height: 100%;
    align-items: center;
}

.homescreen:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 250px);
    margin: auto;
    background-color: #000;
}

.homescreen:nth-child(2) {
    width: 100%;
    height: 250px;
    padding: 30px 25px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
}

img {
    width: 200px;
}

.role_div {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    overflow: scroll;
    height: calc(100vh - 50px);
}

.sidenav {
    width: 100%;
    background-color: #CC0000;
    overflow: scroll;
    transition: height 1s;
    position: absolute;
    bottom: 50px;
    display: none;

}

.valideEquipeButton {
    margin: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    background-color: #CC0000;
    padding: 10px;
    font: inherit;
}

.boutonCoach {
    margin: 20px auto;
    border: 1px solid #888;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    width: 100%;
    max-width: 250px;
    font-size: 18px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.roleButton:hover {
    background: #000;
}

.roleButton {
    text-transform: uppercase;
    background-color: #F12023;
    color: #fff;
    padding: 10px;
    margin: 0;
    font-size: 30px;
    display: block;
    transition: 0.3s;
    width: 100%;
    border: none;
    letter-spacing: .12em;
}

.roleButtonNavBar {
    flex: 1;
    font-size: 30px;
    line-height: 50px;
    color: #fff;
}

.menu {
    width: 100%;
    background-color: #F12023;
    text-align: center;
    justify-content: center;
    align-content: center;
    height: 50px;
    line-height: 50px;
    font-size: 36px;
    z-index: 20;
    flex-direction: row;
    align-items: center;
}

.sidenav .closebtn:hover {
    color: whitesmoke;
}

.sidenav .closebtn {
    color: black;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.hidden {
    display: none;
}

.match_div {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid #888;
    border-radius: 5px;
    margin: 15px auto;
    max-width: 350px;
    width: 90%;
    height: max-content;
    flex-wrap: wrap;
}

#otm .match_div,
#otm .role_div {
    flex-direction: row;
}

#entraineurMenu.role_div,
#otmMenu.role_div {
    flex-direction: column;
}

.match_div:first-child {
    margin-top: 30px;
}

.match_div:last-child {
    margin-bottom: 30px;
}

.match_info {
    width: 100%;
    font-size: 15px;
    text-align: center;
    line-height: 40px;
    text-transform: capitalize;
}

.match_info_local {
    width: 50%;
    float: left;
    border-right: 1px solid #888;
    border-bottom: 2px solid #888;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
}

.match_info_exterieur {
    width: 50%;
    float: right;
    border-left: 1px solid #888;
    border-bottom: 2px solid #888;
    font-weight: 700;
    text-transform: unset;
    font-size: 18px;
}

.match_info_teamlocal {
    width: 50%;
    float: left;
    border-right: 1px solid #888;
    border-bottom: 2px solid #888;
}

.match_info_teamext {
    width: 50%;
    float: right;
    border-left: 1px solid #888;
    border-bottom: 2px solid #888;
}

.match_info_lieu_item {
    width: 50%;
    float: left;
}

.match_info_date_item {
    width: 50%;
    float: right;
}

.match_info_otm_text {
    width: calc(100% - 50px);
    float: left;
    border-top: 2px solid #888;
    border-right: 2px solid #888;
}

.match_info_otm_nb {
    width: 50px;
    float: right;
    border-top: 2px solid #888;
}

.match_info_arbiter_text {
    width: calc(100% - 50px);
    float: left;
    border-top: 2px solid #888;
    border-right: 2px solid #888;
}

.match_info_arbiter_nb {
    width: 50px;
    float: right;
    border-top: 2px solid #888;
}

.match_info_score_local {
    width: 50%;
    float: right;
}

.match_info_score_ext {
    width: 50px;
    float: left;
}

.match_info_score_txt {
    border-top: 2px solid #888;
}

.player_info {
    position: initial;
    margin: 0;
    line-height: 25px;
    font-size: 16px;
}

.player_info_supp {
    position: initial;
    width: 100%;
    float: left;
    margin: 0;
    line-height: 25px;
    color: #000;
    font-size: 16px;
}

.player_div {
    display: flex;
    flex-direction: column;
    border: 2px solid #888;
    background-color: #e4e1e1fa;
    padding: 10px 30px;
    margin: 10px;
    transition: 0.5s;
}

.sub_button {
    border: none;
    border-radius: 0 0 3px 3px;
    width: 100%;
    height: 50px;
    margin: auto;
    font-size: 30px;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

.red_button {
    background-color: #CC0000;
}

.green_button {
    background-color: #00aa00;
}

.black_button {
    background-color: #000000;
}

.parent_info_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #888;
    background-color: whitesmoke;
    margin-top: 10px;
    padding: 10px;
}

.parent_info {
    line-height: 20px;
    font-size: 16px;
}

.parent_info:nth-child(1) {text-align: center;}

.parent_info:nth-child(4) {
}

.formButton:active {
    background-color: #d25959;
    border-color: #D5211D;
    box-shadow: inset 0 2px 0 #D5211D;

    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
}

.formButton {
    margin: 10px auto 0;
    border: 1px solid #D5211D;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    width: 150px;
    display: block;
    padding: 7px 15px;
    color: #FFF;
    cursor: pointer;
    background-color: #f73f3f;
    text-shadow: 0 -1px 1px #D52114, 1px 0 1px #D52114, 0 1px 1px #D52114, -1px 0 1px #D52114;
    box-shadow: 0 1px 0 #D52114;
}

.liImageLicence {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.imageLicence {
    text-align: center;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}

.score {
    border-top: 2px solid #888;
    border-right: none;
    border-left: none;
    margin: 0;
    width: 50%;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    -webkit-appearance: none;
}

.score1 {
    border-right: 1px solid #888;
}

.score2 {
    border-left: 1px solid #888;
}

.boutonScore {
    border-radius: 0 0 3px 3px;
    background-color: #CC0000;
    padding: 15px;
    width: 100%;
    font-size: 17px;
    margin: 0;
    border: 0;
    color: #fff;
    font-weight: 700;
}

.divScore {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.hide_by_date {
    display: none;
!important;
}

.display_match_div {
    width: 100%;
}

.title-role {
    width: 100%;
    position: relative;
    background-color: #000;
}

.title-role-h1 {
    text-align: center;
    line-height: 70px;
    font-size: 26px;
    color: #fff;
    letter-spacing: 0.1em;
    width: 250px;
    margin: 0 auto;
}

#tweet {
    background-color: #000;
}

.logOff {
    position: absolute;
    top: 0;
    right: 20px;
    color: #fff;
    font-size: 30px;
    line-height: 70px;
}

#tri_temporel {}

#tri_temporel input {

}

.amsb-diplay-input_time_display input + span {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: calc(100% / 3);
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    text-align: center;
    background-color: #fff;
    text-transform: uppercase;
}

.amsb-diplay-input_time_display input:checked + span {
    background-color: #F12023;
    color: #fff;
}

#tri_temporel .amsb-diplay-input_time_display_last:nth-child(7) span {
    width: 100%;
}

.bgc_red {
    background-color: #D52114;
}

.bgc_white {
    background-color: #fff;
}

.sujets_div {
    border-top: 2px solid #888;
    padding: 0 10px;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.message_list {
    max-height: 350px;
    overflow-y: scroll;
    width: 100%;
}

.message_div {
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 17px 17px 0 17px;
    margin: 15px 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.message_div_name {
    width: 50%;
    font-size: 16px;
    text-transform: capitalize;
}

.message_div_hour {
    width: 50%;
    font-size: 16px;
}

.message_div_contenu {
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
}

.send_message {
    text-align: center;
    line-height: 20px;
    -webkit-appearance: none;
    border: none;
    text-transform: capitalize;
    margin: 10px 10px 10px 50px;
    border-radius: 3px;
    color: #fff;
    background-color: #F12023;
    font-size: 16px;
    padding: 7px 20px;
    flex: 1;
}

.match_info_categorie {
    border-bottom: 2px solid #888;
    height: 40px;
    float: left;
}

.nameOfSubject {
    text-transform: capitalize;
    display: block;
    width: 100%;
    float: left;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
}

.return {
    text-align: center;
    line-height: 20px;
    -webkit-appearance: none;
    border: none;
    text-transform: capitalize;
    margin: 10px 50px 10px 10px;
    border-radius: 3px;
    color: #fff;
    background-color: #F12023;
    font-size: 16px;
    padding: 7px 20px;
    flex: 1;
}

.validatedPlayer{
    background-color: #F12023 !important;
    color: #fff;
}

.playerSelected {
    border: 2px solid #000 !important;
    background-color: #888;
    border-radius: 15px;
    transition: 0.5s;
}