* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}


::-webkit-scrollbar {
    display: none;
}

:focus {
    outline: none;
}

body {
    font-family: 'Roboto', 'PT Sans', sans-serif;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-size: 14px;
    height: 100vh;
    background-image: url("../img/background.png");
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px whitesmoke inset;
}


input[type="text"],
input[type="password"] {
    font-size: 24px;
    width: 100%;
    height: 40px;
    padding: 3px 6px;
    border: 1px solid #ddd;
    color: #32373c;
    border-radius: 5px;
    margin: 10px 0;
}

input[type="text"]:hover,
input[type="password"]:hover {
    border-color: black;
}


@media only screen and (orientation: portrait){
    .log {
        display: block;
        width:100%;
        height: 100%;
        align-items:center;
    }

    form {
        /* height: 100%; */
        /* width: 81%; */
        /* display: flex; */
        /* flex-direction: column; */
        /* justify-content: center; */
    }

    .homescreen:nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% - 250px);
        margin: auto;
    }

    .homescreen:nth-child(2) {
        width: 100%;
        height: 250px;
        padding: 30px 25px;
        background: #fff;
        box-shadow: 0 1px 3px rgba(0,0,0,.13);
    }

    img {
        width: 200px;
    }
}

@media only screen and (max-width: 320px){
    img {
    }
}

@media only screen and (orientation: landscape ){
    .log {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width:100%;
        height: 100%;
        align-items:center;
    }

    form {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 500px;
        min-width: 100px;
    }

    .homescreen:nth-child(1) {
        width: 50%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .homescreen:nth-child(2) {
        width: 50%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 80%;
        max-width: 500px;
    }
}

@media screen and (aspect-ratio: 1/1){
    .homescreen:nth-child(1) {
        max-width: 230px;
        padding-top: 10px;
    }
}

@media screen and (max-height: 450px) {
    /*
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
    */
}


.role_div {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: calc(100vh - 50px);
}

.sidenav {
    height: 0%;
    width: 100%;
    background-color: #CC0000;
    overflow: scroll;
    transition: height ease-in-out 1s;
}

.valideEquipeButton {
    margin : 20px;
    border: 1px solid #888;
    border-radius: 5px;
    background-color: #CC0000;
    padding: 10px;
    font: inherit;
}

.playerSelected{
    border: 3px solid rgb(0,0,0);
}

.boutonCoach {
    margin: 20px auto;
    border: 1px solid #888;
    border-radius: 5px;
    background-color: #CC0000;
    padding: 10px;
    width: 100%;
    max-width: 250px;
    font-size: 18px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.roleButton:hover {
    color: #CC0000;
    background: #fff;
}

.roleButton {
    text-transform: uppercase;
    background-color: #CC0000;
    color: black;
    padding: 10px;
    margin: 0;
    font-size: 30px;
    display: block;
    transition: 0.3s;
    width:100%;
    border: none;
}

.sidenav .closebtn:hover{
    color: whitesmoke;
}

.sidenav .closebtn {
    color: black;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.hidden {
    display: none;
}

.menu {
    width: 100%;
    background-color: #CC0000;
    text-align: center;
    justify-content: center;
    align-content: center;
    height: 50px;
    line-height: 50px;
    font-size: 36px;
    z-index: 10;
}

.menu span {
    width: 100%;
    z-index: 10;
}

.match_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    border: 2px solid #888;
    border-radius: 3px;
    margin: 15px auto;
    flex-wrap: wrap;
    max-width: 450px;
}

.match_div:first-child{
    display: flex;
    margin-top: 30px;
}

.match_div:last-child {
    display: flex;
    margin-bottom: 30px;
}

.match_info{
    width: 100%;
    font-size: 15px;
    text-align: center;
    line-height: 50px;
    text-transform: capitalize;
}

.match_info_local {
    width: 50%;
    float: left;
    border-right: 1px solid #888;
    border-bottom: 2px solid #888;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
}

.match_info_exterieur {
    width: 50%;
    float: right;
    border-left: 1px solid #888;
    border-bottom: 2px solid #888;
    font-weight: 700;
    text-transform: unset;
    font-size: 18px;
}

.match_info_teamlocal {
    width: 50%;
    float: left;
    border-right: 1px solid #888;
    border-bottom: 2px solid #888;
}

.match_info_teamtext {
    width: 50%;
    float: right;
    border-left: 1px solid #888;
    border-bottom: 2px solid #888;
}

.match_info_lieu_item {
    width: 50%;
    float: left;
}

.match_info_date_item {
    width: 50%;
    float: right;
}

.match_info_otm_text {
    width: calc(100% - 50px);
    float: left;
    border-top: 2px solid #888;
    border-right: 2px solid #888;
}

.match_info_otm_nb {
    width: 50px;
    float: right;
    border-top: 2px solid #888;
}

.match_info_arbiter_text {
    width: calc(100% - 50px);
    float: left;
    border-top: 2px solid #888;
    border-right: 2px solid #888;
}

.match_info_arbiter_nb {
    width: 50px;
    float: right;
    border-top: 2px solid #888;
}

.player_info{
    position: initial;
    margin: 0;
    line-height: 25px;
    font-size: 16px;
}

.player_info_supp{
    position: initial;
    width: 100%;
    float: left;
    margin: 0;
    line-height: 25px;
}

.player_div{
    display: flex;
    flex-direction: column;
    border: 1px solid #888;
    border-radius: 5px;
    background-color: #CC0000;
    padding: 10px;
    margin: 5px 0;
}

.sub_button {
    border: none;
    border-radius: 0 0 3px 3px;
    width: 100%;
    height: 50px;
    margin: auto;
    font-size: 20px;
}

.red_button {
    background-color: #CC0000;
}

.green_button {
    background-color: #00aa00;
}

.parent_info_list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    border: 1px solid #888;
    border-radius: 5px;
    margin-top: 5px;
    background-color: whitesmoke;
}

.parent_info {
    margin-left: 10px;
}

.parent_info:nth-child(1){
    margin-top: 10px;
}

.parent_info:nth-child(4){
    margin-bottom: 10px;
}

.formButton:active {
    background-color: #d25959;
    border-color: #D5211D;
    box-shadow: inset 0 2px 0 #D5211D;

    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
}

.formButton {
    margin: 10px auto 0;
    border: 1px solid #D5211D;
    border-radius: 5px;
    font-family: "Roboto";
    font-size: 24px;
    width: 150px;
    display: block;
    padding: 7px 15px;
    color: #FFF;
    cursor: pointer;
    background-color: #f73f3f;
    text-shadow: 0 -1px 1px #D52114, 1px 0 1px #D52114, 0 1px 1px #D52114, -1px 0 1px #D52114;
    box-shadow: 0 1px 0 #D52114;
}

.liImageLicence {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.imageLicence {
    text-align: center;
    width:80%;
    max-width: 500px;
    border-radius: 5px;
}

.score {
    border: solid 1px #CC0000;
    border-radius: 3px;
    margin: 2px;
    padding:10px;
    width: 30%;
    min-width: 100px;
}

.boutonScore {
    margin: 20px 20px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 1px solid #888;
    border-radius: 3px;
    background-color: #CC0000;
    padding: 10px;
    width: 30%;
    min-width: 250px;
    font: inherit;
}

.divScore {
    display: flex;
    flex-direction: row;
}